Index.html

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('connect', function(data){
        console.log("Socket.io connected...", data);
    });
  socket.on('move', (msg) => {
    console.log("received move: ", msg)
  })
  function emitmove(){
      socket.emit('move', 'b4 c5')
  }
</script>

<button onclick="emitmove()">Move!</button>